{% extends 'account.html' %}

{% block contenido %}
    <center><h2>Registro de Academik Rank</h2></center>
   <div class="table-responsive">            
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Grade</th>
        <th>Nivel</th>
        <th>Asistencia</th>
        <th>Tutor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12/02/2015</td>
        <td>5pm</td>
        <td>ok</td>
        <td>A1</td>
        <td>ok</td>
        <td>Anibal M.</td>
      </tr>
      <tr>
        <td>12/02/2015</td>
        <td>5pm</td>
        <td>ok</td>
        <td>A1</td>
        <td>ok</td>
        <td>Anibal M.</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>

                   
{% endblock %}